<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-image: url('assets/smoky.jpg'); background-size: cover;">
    <div class="container text-white">
      <h1 class="display-2">ORNL Smoky Mountains Data Challenge</h1>
      <p>The C2 Labs Data Wookies have developed a scalable machine learning solution for matching patients and providers for cancer-related clinical trials.</p>
      <p><a class="btn btn-primary btn-lg" href="https://smc-datachallenge.ornl.gov/" target="_blank" role="button">Learn more about the Challenge</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Participants</h3>
        <p>Cancer is a real bummer.  We can find you the best clinical trial to cure it. </p>
        <p><a class="btn btn-success"[routerLink]="['/patients']" role="button">Get Started &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>Providers</h3>
        <p>Starting a new clinical trial?  We can help you find the ideal patients.</p>
        <p><a class="btn btn-success" [routerLink]="['/providers']" role="button">Get Started &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>How It All Works</h3>
        <p>While this solution is just a research prototype, it is built to scale.</p>
        <p><a class="btn btn-info" [routerLink]="['/docs']" role="button">Learn More &raquo;</a></p>
      </div>
    </div>

    <hr>

    <!-- Architecture -->
    <div class="row">
      <div class="col-md-12 text-center">
          <h2 class="mt-3" style="padding: 50px;">Solution Architecture</h2>
      </div>
      <div class="col-md-12 text-center">
        <img style="padding: 50px;" class="img-fluid mt-3 mb-3" src="./assets/architecture.png" />
      </div>
  </div>

  </div> <!-- /container -->
