<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-image: url('assets/smoky.jpg'); background-size: cover;">
    <div class="container text-white">
      <h1 class="display-2">ORNL Smoky Mountains Data Challenge</h1>
      <p>The C2 Labs Data Wookies have developed a scalable machine learning solution for matching patients and providers for cancer-related clinical trials.</p>
      <p><a class="btn btn-success btn-lg" href="https://smc-datachallenge.ornl.gov/" target="_blank" role="button">Learn more about the Challenge</a></p>
    </div>
  </div>

  <div class="container" style="padding-bottom: 50px; padding-top: 25px;">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Participants</h3>
        <p>Cancer is a real bummer.  We can find you the best clinical trial to cure it. </p>
        <p><a class="btn btn-success"[routerLink]="['/patients']" role="button">Get Started &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>Providers</h3>
        <p>Starting a new clinical trial?  We can help you find the ideal patients.</p>
        <p><a class="btn btn-success" [routerLink]="['/providers']" role="button">Get Started &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h3>How It All Works</h3>
        <p>While this solution is just a research prototype, it is built to scale.</p>
        <p><a class="btn btn-success" [routerLink]="['/docs']" role="button">Learn More &raquo;</a></p>
      </div>
    </div>

  </div> <!-- /container -->
